<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-3.1.1.intellisense.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sharedViewScript.js")"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="dropdown">
                <button id="dropdownmenu1" type="button" class="navbar-toggle" data-toggle="dropdown" data-target=".navbar-collapse" aria-haspopup="true" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownmenu1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Alla Projekt", "Projects", "AllProject", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("PU visare", "PUViewer", "PU", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Lägg till Projekt (Admin)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Registrera användare (Admin)", "Register", "Register", new { area = "" }, new { @class = "navbar-brand" })


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
</body>
</html>